@theme inline {
  --font-sans: var(--diatype-semi-mono), sans-serif;
  --font-serif: var(--cucina), serif;
}

/*
Use ts-size utility to set font size as proportion of gut size.
Example: ts-size-24/36 → font-size = var(--gut) × (24÷36)
*/

/* Headings */
.ts-h1 {
  @apply leading-125 ts-size-36/18 md:ts-size-62/25;
}

.ts-h2 {
  @apply leading-125 ts-size-28/18 md:ts-size-46/25;
}

.ts-h3 {
  @apply font-sans uppercase leading-110 tracking-4 ts-size-17/18 md:ts-size-27/25;
}

/* Labels */
.ts-h4 {
  @apply font-sans uppercase leading-110 tracking-4 ts-size-14/18 md:ts-size-18/25;
}

/* Paragraphs */
.ts-p-md {
  @apply font-serif leading-125 ts-size-18/18 md:ts-size-30/25;
}
/* lg: 13.5px doubled for whole integer (27px/72px) */
.ts-p-sm {
  @apply font-sans leading-125 ts-size-12/18 md:ts-size-27/50;
}

/* Special */
.ts-tagline {
  @apply font-sans leading-none ts-size-12/18 md:ts-size-16/25;
}

/* Misc */
.inline-link {
  @apply nice-underline transition-opacity hover:opacity-50;
}
